footer {
    background-color: black;
    color: white;
}

.footer-title{
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
}

.footer-content{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    border-top: #888 solid 1px;
    border-bottom: #888 solid 1px;
    margin: 0 10rem;
}
.footer-subtitle{
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
}
.footer-info {
    display: flex;
    flex-direction: column;

}
.footer-info a {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.footer-info a:hover {
    background-color: #222;
}

.footer-title-span{
    color: red;
    font-weight: bold;
}
.footer-icon{
    margin: 0 0.5rem;
    width: 2rem;
}

.footer-pay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0.5rem 1rem;
}