@use '../base/variables' as v;
@use '../base/mixins' as m;
.container-micuenta {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    
    .sidebar {
        background-color: #f8f8f8;
        padding: 20px;
        width: auto;
        height: 100%;
        font-size: 1.5em;
        margin-bottom: 10px;
        h2 {
            font-weight: bold;
        }
    }
    h2 {
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
    }
    p{
        font-size: 1.2rem;
    }
    .sidebar ul {
        list-style: none;
    }
    
    .sidebar ul li {
        margin: 3rem 0;
        color: #333;
        cursor: pointer;
    }
    
    .sidebar ul li:hover {
        color: #ff6600;
    }
    
    .content {
        width: 100%;
    }
    
    .account-info, .address-book {
        background-color: #f8f8f8;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    
    .account-info h3, .address-book h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    .card {
        background-color: #fff;
        padding: 15px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .card h4 {
        font-size: 1em;
        color: #333;
        margin-bottom: 5px;
    }
    
    .card p {
        color: #666;
        line-height: 1.5;
    }
    
    .card a {
        color: #ff6600;
        font-size: 0.9em;
        text-decoration: none;
        margin-right: 10px;
    }
    
    .card a:hover {
        text-decoration: underline;
    }
    
    .manage-addresses {
        display: block;
        text-align: right;
        color: #ff6600;
        font-size: 1.1em;
        text-decoration: none;
        margin: 1rem;
    }
    
    .manage-addresses:hover {
        text-decoration: underline;
    }    

    .form-container {
        width: 50%;
        max-width: 600px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        height: 50rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
    }
    
    input[type="text"], select, input[type="date"] , input[type="email"],input[type="password"] {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    input[type="checkbox"] {
        margin-right: 8px;
    }
    
    
    .required {
        color: red;
    }
    
    .btn-submit {
        width: 100px;
        padding: 8px;
        font-size: 14px;
        color: #fff;
        background-color: #b86b5a;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .btn-submit:hover {
        background-color: #a8564a;
    }
    .notification {
        display: flex;
        align-items: center;
        background-color: #e0f4fc;
        color: #008dcf;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid #b3e3f9;
        width: 80%;
        max-width: 800px;
    }
    
    .icon {
        margin-right: 10px;
        font-size: 20px;
    }
    
    .message {
        font-size: 14px;
    }
    
    .address-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    
}
@include m.telefono { 
    .container-micuenta {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin: 1rem auto;
        .sidebar {
            width: 20%;
        }
    }
    
}

@include m.tablet { 
    .container-micuenta {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin: 20px auto;
        .content {
            width: 75%;
            margin-left: 20px;
        }
    }
    h2 {
        font-size: 1.8em;
        color: #333;
    }
    p{
        font-size: 1.8rem;
    }
}

