// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fuente_principal: "Montserrat", sans-serif;

// Colores
//$color-negro: #000;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1440px;
$desktopXXL: 1920px;
